.banner_container {
  height: 150px;
  background-color: #FCFFF2;
  text-align: center;
  position: relative;
  z-index: 200;
}
.banner_container img {
  object-fit: contain;
  width: 80%;
  height: 80%;
  filter: drop-shadow(0px 0px 1.5px black);
  padding-top: 10px;
}

nav {
  position: sticky;
  top: 0;
  background-color: #FFFAEE;
  border-top: 1.7px solid #E5E8E5;
  border-bottom: 1.7px solid #E5E8E5;
  width: 100%;
  text-align: center;
  z-index: 250;
  padding: 10px 0px;
}
nav .user_info i {
  position: relative;
  margin: 10px;
  cursor: pointer;
  font-size: 25px;
}
@media screen and (min-width: 768px) {
  nav .user_info i {
    color: #A6D372;
  }
}
nav .prod_counter {
  position: absolute;
  border-radius: 100%;
  background-color: red;
  top: 15px;
  height: 16px;
  width: 16px;
}
nav .burger {
  position: relative;
  right: 0;
  left: 0;
  margin: 5px auto;
  display: inline-block;
  cursor: pointer;
}
nav .burger div {
  width: 25px;
  height: 3px;
  margin: 4px;
  background-color: black;
  transition: opacity 0s, transform 0.7s ease;
}
@media screen and (min-width: 768px) {
  nav .burger {
    display: none;
  }
}
nav .mobile__nav-container {
  width: 100%;
  color: black;
  background-color: #FCFFF2;
  z-index: 100;
  position: absolute;
  transform: translateY(-900px);
  transition: transform 0.7s, opacity 1s ease-in;
}
@media screen and (min-width: 768px) {
  nav .mobile__nav-container {
    position: relative !important;
    transform: translateY(0px) !important;
    background-color: inherit;
  }
}
nav .mobile__nav-container .flex__ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}
@media screen and (min-width: 768px) {
  nav .mobile__nav-container .flex__ul {
    flex-direction: row;
    justify-content: center;
    position: relative;
  }
}
nav .mobile__nav-container .flex__ul li {
  margin: 8px;
  list-style: none;
}
nav .mobile__nav-container .flex__ul li :hover {
  font-size: 20px;
  transition: all 0.3s;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  nav .mobile__nav-container .flex__ul li {
    margin: 5px 25px;
  }
}
nav .mobile__nav-container .flex__ul li a {
  font-size: 17px;
  opacity: 0;
  text-decoration: none;
  color: #A6D372;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  nav .mobile__nav-container .flex__ul li a {
    opacity: 1;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-4.8px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -6px);
}

.in-xl-12, .in-xl-11, .in-xl-10, .in-xl-9, .in-xl-8, .in-xl-7, .in-xl-6, .in-xl-5, .in-xl-4, .in-xl-3, .in-xl-2, .in-xl-1, .in-lg-12, .in-lg-11, .in-lg-10, .in-lg-9, .in-lg-8, .in-lg-7, .in-lg-6, .in-lg-5, .in-lg-4, .in-lg-3, .in-lg-2, .in-lg-1, .in-md-12, .in-md-11, .in-md-10, .in-md-9, .in-md-8, .in-md-7, .in-md-6, .in-md-5, .in-md-4, .in-md-3, .in-md-2, .in-md-1, .in-sm-12, .in-sm-11, .in-sm-10, .in-sm-9, .in-sm-8, .in-sm-7, .in-sm-6, .in-sm-5, .in-sm-4, .in-sm-3, .in-sm-2, .in-sm-1, .in-xs-12, .in-xs-11, .in-xs-10, .in-xs-9, .in-xs-8, .in-xs-7, .in-xs-6, .in-xs-5, .in-xs-4, .in-xs-3, .in-xs-2, .in-xs-1 {
  float: left;
}

.in-xl-12, .in-xl-11, .in-xl-10, .in-xl-9, .in-xl-8, .in-xl-7, .in-xl-6, .in-xl-5, .in-xl-4, .in-xl-3, .in-xl-2, .in-xl-1, .in-lg-12, .in-lg-11, .in-lg-10, .in-lg-9, .in-lg-8, .in-lg-7, .in-lg-6, .in-lg-5, .in-lg-4, .in-lg-3, .in-lg-2, .in-lg-1, .in-md-12, .in-md-11, .in-md-10, .in-md-9, .in-md-8, .in-md-7, .in-md-6, .in-md-5, .in-md-4, .in-md-3, .in-md-2, .in-md-1, .in-sm-12, .in-sm-11, .in-sm-10, .in-sm-9, .in-sm-8, .in-sm-7, .in-sm-6, .in-sm-5, .in-sm-4, .in-sm-3, .in-sm-2, .in-sm-1, .in-xs-12, .in-xs-11, .in-xs-10, .in-xs-9, .in-xs-8, .in-xs-7, .in-xs-6, .in-xs-5, .in-xs-4, .in-xs-3, .in-xs-2, .in-xs-1 {
  position: relative;
  width: 100%;
}

@media only screen and (min-width: 0) {
  .in-xs-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .in-xs-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .in-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .in-xs-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .in-xs-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .in-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .in-xs-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .in-xs-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .in-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .in-xs-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .in-xs-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .in-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 576px) {
  .in-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .in-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .in-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .in-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .in-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .in-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .in-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .in-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .in-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .in-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .in-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .in-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .in-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .in-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .in-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .in-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .in-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .in-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .in-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .in-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .in-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .in-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .in-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .in-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .in-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .in-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .in-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .in-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .in-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .in-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .in-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .in-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .in-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .in-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .in-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .in-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .in-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .in-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .in-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .in-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .in-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .in-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .in-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .in-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .in-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .in-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .in-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .in-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* center container in the middle */
.container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 70%;
  background: #F5F5F5;
  box-shadow: 5px 5px 15px rgba(186, 126, 126, 0.5);
  border-radius: 10px;
  margin-top: 50px;
}

.prod_counter {
  font-size: 0.6em;
  color: black;
  letter-spacing: 1px;
}

h1 {
  font-size: 1.2em;
  color: black;
  margin-top: -5px;
}

h2 {
  color: black;
  margin-top: -5px;
}

.images img {
  object-fit: contain;
  width: 100%;
}

.product {
  text-align: center;
}
.product .counter-input {
  display: block;
  border: none;
  position: relative;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
}

.desc {
  display: block;
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: black;
  font-size: 0.7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

.counter-input {
  border-radius: 500px;
  background-color: #C8C8C8;
}

.slick-slider {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.slick-slider .slider {
  margin: 5px;
  padding: 5px;
  background-color: gray;
  opacity: 0.8;
  border-radius: 50%;
}
.slick-slider img {
  max-width: 100%;
}

.detail-product-container .row {
  margin: 25px;
  background-color: #F5F5F5;
  border: 15px;
  box-shadow: 0px 2px 23px -9px rgba(0, 0, 0, 0.5);
}
.detail-product-container .product-image-detail_container {
  text-align: center;
}
.detail-product-container .product-image-detail_container img {
  height: auto;
  max-width: 100%;
}
.detail-product-container .product-info-detail_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.detail-product-container .product-info-detail_container h1 {
  margin: 15px;
}
.detail-product-container .buttdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.detail-product-container .buttdiv button {
  background: #9FE19A;
  padding: 5px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #F5F5F5;
  cursor: pointer;
}
.detail-product-container .buttdiv button:hover {
  background: #78CF71;
  transition: all 0.4s ease-in-out;
}
.detail-product-container .buttdiv input {
  width: 25%;
  margin-bottom: 15px;
  text-align: center;
}

.productInCart-container {
  display: block;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
  position: relative;
  left: 0;
  right: 0;
  margin: 20px auto;
  background-color: #F5F5F5;
  border-radius: 25px;
  text-align: center;
  box-shadow: 5px 5px 15px rgba(186, 126, 126, 0.5);
}
.productInCart-container .cartImage-container {
  height: 30%;
  width: 30%;
}
@media screen and (max-width: 760px) {
  .productInCart-container .cartImage-container {
    width: 100%;
  }
}
.productInCart-container .cartImage-container img {
  max-width: 100%;
}

.but_clearCart {
  background: #9FE19A;
  padding: 5px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: 5px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #F5F5F5;
  cursor: pointer;
}
.but_clearCart:hover {
  background: #78CF71;
  transition: all 0.4s ease-in-out;
}

.buying-form-div {
  text-align: center;
}
.buying-form-div form div {
  margin: 10px;
}
.buying-form-div form div label {
  display: block;
}
.buying-form-div form div input {
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}
.buying-form-div form button {
  background: #9FE19A;
  padding: 5px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: 5px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #F5F5F5;
  cursor: pointer;
}
.buying-form-div form button:hover {
  background: #78CF71;
  transition: all 0.4s ease-in-out;
}

.successful-bought-div {
  margin: 10px;
  padding: 5px;
  text-align: center;
  background-color: #7350A2;
  border-radius: 15px;
}
.successful-bought-div span {
  font-size: 1.3em;
}
.successful-bought-div span strong {
  display: block;
  letter-spacing: 1px;
  margin: 3px;
  color: white;
}

@font-face {
  font-family: "Advent";
  src: url(../../web-fonts/adventpro_bold_macroman/adventpro-bold-webfont.woff) format("woff");
}
.row {
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: #FCFFF2;
  overflow-x: hidden;
  font-family: "Advent";
}

.products-h2 {
  text-align: center;
  color: black;
  padding: 20px;
  background-color: #7350A2;
  letter-spacing: 1px;
}

/*# sourceMappingURL=style.css.map */
