.itemBuy_container {
    height: 100px;
    width: 300px;
    background-color: #A6D372;
    padding: 15px;
    text-align: center;
    b {
        display: block;
        color: white;
    }

    .buyButtons_container {
        position: relative;
        top: 30%;

        button {
            margin: 0px 20px;
        }

        .plus {
            border-radius: 50%;
            border: 1px solid black;
            transform: scale(1.5);
        }

        .addCart {
            transform: scale(1.3);
        }

        .rest {
            border-radius: 50%;
            border: 1px solid black;
            transform: scale(1.5);  
        }

    }
}