  .carousel-div-container {
      margin-bottom: 50px;

    .slick-slider{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;

        .slider{
         margin: 5px;
         padding: 5px;
         background-color: gray;
         opacity: 0.8;
         border-radius: 50%;
        }

        img{
          width: 100%;
        }
    }
  }

