@import './navBar';
@import './grid-system/gridSystem';
@import './product';
@import './carrousel.scss';
@import './detailProduct.scss';

@font-face {
    font-family: 'Advent';
    src: url(../../web-fonts/adventpro_bold_macroman/adventpro-bold-webfont.woff) format('woff');
}

.row{
    display: flex;
    flex-wrap: wrap;
};

body{
    background-color: #FCFFF2;
    overflow-x: hidden;
    font-family: 'Advent';
};  


.products-div{
    .products-h2{
    text-align: center;
    color: black;
    padding: 20px;
    background-color: #A6D372;
    letter-spacing:1px;
    }
};


