@import './navBar';
@import './grid-system/gridSystem';
@import './product';
@import './carrousel.scss';
@import './detailProduct.scss';
@import './cartProduct.scss';
@import './spinnerAnimation.scss';
@import './category';

@font-face {
    font-family: 'Advent';
    src: url(../../web-fonts/adventpro_bold_macroman/adventpro-bold-webfont.woff) format('woff');
}

.row{
    display: flex;
    flex-wrap: wrap;
};

body{
    background-color: #FCFFF2;
    overflow-x: hidden;
    font-family: 'Advent';
};  



.products-h2{
    text-align: center;
    color: black;
    padding: 20px;
    background-color: #7350A2;
    letter-spacing:1px;
}


