@import './navBar';
@import './grid-system/gridSystem';
@import './product';
@import './carrousel.scss';


.row{
    display: flex;
    flex-wrap: wrap;
};

body{
    background-color: #FCFFF2;
    overflow-x: hidden;
}

.products-div {

    .products-h2{
    text-align: center;
    margin: 10px;
    color: #A6D372;
    text-decoration: underline;
    letter-spacing:1.5px;
}
}


